ul {
    padding: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 234, 255);
    
  }
  
  .sidebar-nav-center a {
    font-size: 15px;
    font-weight: light;
    color: var(--grey-1100);
    transition: var(--transition);
    text-transform: uppercase;
    display: table;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    line-height: 1px;
    padding-bottom: 10px;
   
  }
  .sidebar-nav-center a:hover {
    color: var(--primary-500);
  }
  
  
  




.sidebar-sticky {
    position: sticky;
 
    padding-top: 50px;
    margin:0;
    float: left;
  }
  @media screen and (min-width: 768px) {
    .nav-center a:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }




/* CSS */

.sidebar {
  height: 100vh;
  width: 200px;
  position: -webkit-sticky; /* for Safari users */
  position: sticky;
  top: 0px;
  float: left;
  padding-top: 40px;
  background-color: white;

  
  }
  
  .sidebar div {
    padding: 8px;

    }